<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        
        <div class="nav mb-8">
            <a class="text-blue-400" href="/"> Back to home</a>
        </div>
        <h1 class="text-3xl mb-4">All Users</h1>
        <div class="users flex gap-4 flex-wrap">
            <% if (users.length > 0) {%>
                <% users.forEach(element => { %> <div class="user w-80 p-10 bg-zinc-800 rounded-lg">
                    <div class="w-full h-52 rounded-lg bg-zinc-700">
                        <img class="w-full h-full object-cover rounded-lg" src="<%= element.image %>" alt="">
                    </div>
                    <h3 class="mt-4 text-xl"><%= element.name %></h1>
                     <h5 class="text-zinc-500"><%= element.email %></h5>   
                     <div class="flex gap-14 mt-8 max-w-80">
                        <a class="text-zinc-600 font-bold " href="/edit/<%= element._id %>">Edit User</a>
                        <a class="text-red-600" href="/delete/<%= element._id %>">Delete User</a>
                     </div>
        
                </div>
               <% }) %>
            <%} else {%>
                <h3 class="text-zinc-400 text-xl">No users yet.</h3>
             <%} %>
           
        </div>
    </div>
    
</body>
</html>